<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Education</title>
  <link rel="stylesheet" href="Education.css">
</head>
<body>
<div id="Education">
  <h3>Education</h3>
  <ul>
    <li>
      <div id="TU">
        <h4 id="TU-title"><a href="https://www.towson.edu/">Towson University </a> </h4>
        <p>Estimated Graduation date: May 2025</p>

      </div>
    </li>

    <li>
      <div id="UMGC">
        <h4 id="UMGC-Title"> <a href="https://www.umgc.edu/"> University of Maryland Global Campus </a> </h4>
        <p>March 2019 - Jun 2022</p>
      </div>
    </li>

    <li>
      <div id="CCBC">
        <h4 id="CCBC-Title"> <a href="https://www.ccbcmd.edu/"> Community College of Baltimore County </a> </h4>
        <p>Jun 2021 - September 2021</p>
      </div>
    </li>
  </ul>
</div>
</body>
</html>