
.forum-posts{
    padding: 5px;
    align-content: center;
    margin: 5px auto auto auto;

    min-width: max-content;
    max-width: 800px;

}
.forum-form{
    min-width: fit-content;
    max-width:fit-content;

    border-color: #519872;
    border-style: outset;
    border-width: 3px;
    align-content: center;
    margin: 5px auto auto auto;
}

.forum-background{


    background-image: linear-gradient(to bottom, #382933,#3B5249 );
    padding-top: 3px;
    min-height: 120vh;
    max-height: 900vh;

    align-content: center;
}
.no-posts{
    color: #519872;
}