.navbar{
    display: block;
    justify-content: center;
    font-family: "Trebuchet MS" ;
    margin-top: 0;
    background-color: #3B5249;

    height: 100px;
    width: 100%;
    position: fixed;

    font-size: x-large;
}
.Home{
    left: auto;
    position: relative;
    top: 40px;
}
.Projects{
    left: auto;
    position: relative;
    padding-left: 5%;
    top: 40px;


}

.AboutMe{
    position: relative;
    padding-left: 5%;
    top: 40px;
}

.Skills{
    position: relative;
    padding-left: 5%;
    top: 40px;
}

.contact{
    position: relative;
    padding-left: 5%;
    top: 40px;
}
a{
    color: #1e1b1e;
}
.navbar a:hover{
    color: #519872;
}